<h3> This is about page </h3>

  {{#if displayArrayFlags.skills}}
    <button type="button" class="btn btn-info btn-block" {{action 'hideCategory' 'skills' }}> Skills </button>
    {{resume.kbs-skills}}
  {{else}}
    <button type="button" class="btn btn-info btn-block" {{action 'showCategory' 'skills'}}> Skills </button>
  {{/if}}
  {{#if displayArrayFlags.experience}}
    <button  type="button" class="btn btn-info btn-block" {{action 'hideCategory' 'experience' }}> Experience </button>
    {{resume.kbs-experience}}
  {{else}}
    <button  type="button" class="btn btn-info btn-block" {{action 'showCategory' 'experience'}}> Experience </button>
  {{/if}}
  {{#if displayArrayFlags.education}}
    <button  type="button" class="btn btn-info btn-block" {{action 'hideCategory' 'education' }}> Education </button>
    {{resume.kbs-education}}
  {{else}}
    <button  type="button" class="btn btn-info btn-block" {{action 'showCategory' 'education'}}> Education </button>
  {{/if}}
